.b24-widget-button-position-bottom-right {
    right: 20px !important;
    bottom: 20px !important;
}
@media only screen and (max-width: 600px) {
.article-cont img{
	
	height:auto!important;
	margin:0!important;
	width:100%!important;
	max-width:100%!important;
}
}